# Node.js dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Coverage reports
coverage/

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor folders/files
.vscode/

# Temporary files
tmp/
temp/